<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logocompanyicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logocompanyicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik">
        <activity
            android:name=".ui.pentadbir.jadualTugasan.daftarTugasan.daftarTugasan"
            android:exported="false"
            android:label="Jadual Tugasan"
            android:noHistory="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.juruteknik.senaraiPenuhAduan"
            android:exported="false"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar" />
        <activity
            android:name=".ui.pentadbir.senaraiPenuhAduanPentadbir"
            android:exported="false"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar" />
        <activity
            android:name=".ui.pentadbir.laporan.laporanJadualTugasan.senaraiPenuhTugasPentadbir"
            android:exported="false"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar" />
        <activity
            android:name=".ui.profilPengguna.profilPengguna"
            android:exported="false"
            android:label="@string/menu_profilPengguna"
            android:noHistory="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.pentadbir.akaunPengguna.kemaskiniPengguna.kemaskiniPengguna"
            android:exported="false"
            android:label="@string/menu_kemaskiniPengguna"
            android:noHistory="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.pentadbir.akaunPengguna.daftarPengguna.daftarPengguna"
            android:exported="false"
            android:label="@string/menu_daftarPengguna"
            android:noHistory="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.pentadbir.utamaPentadbir"
            android:exported="false"
            android:label="@string/utama_pentadbir"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar" />
        <activity
            android:name=".ui.juruteknik.utamaJuruteknik"
            android:exported="false"
            android:label="@string/utama_juruteknik"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar" />
        <!-- Tetapkan keluarga activiti sebagai login -->
        <activity
            android:name=".setSemulaKataLaluan"
            android:exported="false"
            android:noHistory="true"
            android:parentActivityName="log_masuk" /> <!-- Tetapkan keluarga activiti sebagai pemilihanPengguna -->
        <service
            android:name=".ui.pengadu.membuatAduan.FirebaseMessagingService"
            android:exported="false"
            android:enabled="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".utamaAplikasi"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar" />
        <activity
            android:name=".mulaAplikasi"
            android:exported="true"
            android:theme="@style/Theme.SistemPengurusanJabatanJuruteknik.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>